# List

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements

In [14]:
list = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [15]:
Flowers = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
Flowers

['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

# Accessing Elements:

In [22]:
my_list = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
Flower = my_list[0]
Flower1 = my_list[3] 
last_Flower= my_list[-1]

In [25]:
print(my_list)
print(f' Flower = {Flower}')
print(f' Flower1 = {Flower1}')
print(f' last_Flower = {last_Flower}')

['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']
 Flower = Rose
 Flower1 = Daisy
 last_Flower = Marigold

# Append Function

Adds an element to the end of the list.

In [49]:
my_list = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

In [50]:
my_list

['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

In [51]:
my_list.append('Orchid')
my_list

['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold', 'Orchid']

# Insert Function

Inserts an element x at a specific index

In [53]:
my_list = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

In [54]:
my_list.insert(0, 'Orchid')
print(f'my_list = {my_list}')

my_list = ['Orchid', 'Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

# Extend Function

Extends the list by appending all elements from the iterable.

In [58]:
my_list = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

In [60]:
my_list.extend(['Hibiscus','Bluebells'])
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold', 'Hibiscus', 'Bluebells']

# Remove Function

The remove function method removes a given element from the list.

In [61]:
my_list = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

In [62]:
my_list.remove('Daisy')
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Marigold']

# Pop Function

Pop function removes element at a specific index from the list.

In [68]:
my_list = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

In [69]:
removed_element = my_list.pop(2)
print(f'removed_element = {removed_element}')

removed_element = Sunflower

In [70]:
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Daisy', 'Marigold']

# Clear Function

Clear function method removes all items from the list making it an empty list.

In [74]:
my_list = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

In [75]:
my_list.clear()
print(f'my_list = {my_list}')

my_list = []

# Count Function

This function method returns the count of the occurrences of a given element in a list.

In [83]:
my_list = ['Rose', 'Lily' ,'Sunflower','Rose', 'Daisy', 'Marigold','Rose']
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Rose', 'Daisy', 'Marigold', 'Rose']

In [84]:
Ocurrence = my_list.count('Lily')
print(f'Ocurrence = {Ocurrence}')

Ocurrence = 1

In [85]:
Ocurrence = my_list.count('Rose')
print(f'Ocurrence = {Ocurrence}')

Ocurrence = 3

In [86]:
Ocurrence = my_list.count('Bluebells')
print(f'Ocurrence = {Ocurrence}')

Ocurrence = 0

# Sort Function

Sort the list in ascending order

In [95]:
my_list = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
print(f'my_list = {my_list}')

my_list = ['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']

In [113]:
my_list.sort()
print(f'sorted_list = {my_list}')

sorted_list = ['Daisy', 'Lily', 'Marigold', 'Rose', 'Sunflower']

In [112]:
num_list = [10,20,8,45,7,66,1,2,-2,0,-18]
print(f'num_list = {num_list}')

num_list = [10, 20, 8, 45, 7, 66, 1, 2, -2, 0, -18]

In [110]:
num_list.sort()
print(f'sorted_list = {num_list}')

sorted_list = [-18, -2, 0, 1, 2, 7, 8, 10, 20, 45, 66]

# Reverse Function

Reverse the order of elements

In [105]:
num_list = [10,20,8,45,7,66,1,2,-2,0,-18]
print(f'num_list = {num_list}')

num_list = [10, 20, 8, 45, 7, 66, 1, 2, -2, 0, -18]

In [109]:
reversed_list = num_list.reverse()
print(f'reversed_list ={num_list}')

reversed_list =[-18, 0, -2, 2, 1, 66, 7, 45, 8, 20, 10]

# Min Function

Min function returns the smallest element.

In [115]:
num_list = [10,20,8,45,7,66,1,2,-2,0,-18]
print(f'num_list = {num_list}')

num_list = [10, 20, 8, 45, 7, 66, 1, 2, -2, 0, -18]

In [123]:
min_no = min(num_list)
print(f'min_no = {min_no}')

min_no = -18

# Max Function

Max function return the largest element.

In [124]:
num_list = [10,20,8,45,7,66,1,2,-2,0,-18]
print(f'num_list = {num_list}')

num_list = [10, 20, 8, 45, 7, 66, 1, 2, -2, 0, -18]

In [125]:
max_no = max(num_list)
print(f'max_no = {max_no}')

max_no = 66

# Slicing

Extract a sublist using colon (:) syntax

In [10]:
Flowers = ['Rose', 'Lily' ,'Sunflower', 'Daisy', 'Marigold']
first_two = Flowers[0:2]  
everything_except_last = Flowers[:-1]  
flowers = Flowers[::-1]  
print(Flowers)
print(first_two)
print(everything_except_last)
print(flowers)

['Rose', 'Lily', 'Sunflower', 'Daisy', 'Marigold']
['Rose', 'Lily']
['Rose', 'Lily', 'Sunflower', 'Daisy']
['Marigold', 'Daisy', 'Sunflower', 'Lily', 'Rose']