# Indexing

Access individual elements of a tuple using square brackets []

In [1]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [2]:
print(my_tuple[0])

1

# Slicing

Extract a subset of elements from a tuple.

In [3]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [4]:
print(my_tuple[1:4])

(2, 3, 4)

# Length

Get the number of elements in a tuple using the len() function.

In [5]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [6]:
print(len(my_tuple))

5

# Concatenation

Concatenate two tuples using the + operator.

In [7]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

# Repetition

Repeat a tuple for a given number of times using the * operator.

In [10]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [13]:
repeated_tuple = my_tuple * 2
print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# Count

Count the occurrences of a specific element in a tuple using the count() method.

In [16]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [17]:
print(my_tuple.count(3))

1

# SORTED

this method takes a tuple as an input and returns a sorted list as an output

In [18]:
my_tuple = (22,3, 35, 4,2.4,2,56,90,1)
my_tuple

(22, 3, 35, 4, 2.4, 2, 56, 90, 1)

In [21]:
my_tuple1 = sorted(my_tuple)

In [23]:
my_tuple1

[1, 2, 2.4, 3, 4, 22, 35, 56, 90]